<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
</head>

<main layout:fragment="content">

    <div class="list-group">
        <a th:each="chat : ${chats}"
        th:href="@{/chat/{id}(id=${chat.chatId})}"
        class="list-group-item list-group-item-action">

            <div class="d-flex justify-content-between">
                <strong th:text="${chat.username}"></strong>
                <small th:text="${#temporals.format(chat.lastMessageTime, 'HH:mm')}"></small>
            </div>

            <div class="text-muted"
                th:text="${chat.lastMessage}"></div>
        </a>
    </div>

</main>

</html>