<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<main layout:fragment="content">
    <h1 class="mb-4" th:if="${suchbegriff == null}">
        Alle Anzeigen
    </h1>


    <p th:if="${suchbegriff}">
        Suchergebnisse für "<span th:text="${suchbegriff}"></span>"
    </p>

    <div th:if="${anzeigen.isEmpty()}">
        <p>Keine Anzeigen gefunden.</p>
    </div>

    <div th:each="advertisement : ${anzeigen}">
        <a th:href="@{/anzeigen/{id}(id=${advertisement.id})}">
            <h3 th:text="${advertisement.title}"></h3>
        </a>

        <p th:text="${advertisement.description}"></p>

        <p>
            <strong>Preis:</strong>
            <span th:text="${advertisement.price}"></span> €
        </p>

        <hr>
    </div>

</main>

</html>

