<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{layout}">
<main layout:fragment="content">

    <h1 class="mb-4" th:text="${@t.t('Passwort')}"></h1>

    <form th:action="@{/user/change-password}" method="post" enctype="multipart/form-data"
        id="change-password" class="row gy-3">

        <div class="col-12">
            <label class="form-label fw-semibold" th:text="${@t.t('Altes Passwort')}"></label>
            <input type="password" name="currentPassword" class="form-control" required>
        </div>

        <div class="col-12">
            <label class="form-label fw-semibold" th:text="${@t.t('Neues Passwort')}"></label>
            <input type="password" name="newPassword" class="form-control" required>
        </div>

        <div class="col-12">
            <label class="form-label fw-semibold" th:text="${@t.t('Neues Passwort bestätigen')}"></label>
            <input type="password" name="confirmPassword" class="form-control" required>
        </div>

    </form>

    <p th:if="${missmatch}" class="text-danger mt-2" th:text="${@t.t('Passwörter stimmen nicht über ein')}"></p>
    <p th:if="${wrongPassword}" class="text-danger mt-2" th:text="${@t.t('Falsches Passwort')}"></p>

    <div class="col-12 mt-3 d-flex align-items-center">
        <button type="submit" form="change-password" class="btn btn-primary"
            th:text="${@t.t('Passwort Ändern')}"></button>
    </div>

</main>

</html>