
.layout-body {
    min-height: calc(100vh - 70px);
}

.brand-link {
    text-decoration: none;
    color:inherit;
}

.halb-bild {
    max-width: 50%;
    height: auto;
    display:block;
    margin: 0 auto;
}

.multi-line {
    white-space: pre-line;
}